name: CI

on:
  push:
    branches:
      - master
      - improvements-feb-2026
      - epic/**
  pull_request:
    branches:
      - master
      - improvements-feb-2026

jobs:
  ci:
    name: Lint, Format & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint:check

      - name: Format check
        run: npm run format:check

      - name: Test
        run: npm test
